.nav-full {
    display: flex !important;
    margin: auto !important;
    width: 100% !important;
}

.nav-pills {
    list-style: none;
    min-width: 240px;
    margin-right: 50px;
}

.nav-pills .button {
    width: 100%;
}

.button.primary.small.active {
    background-color: var(--accent-blue) !important;
}

.padding-y-min {
    padding-top: 2rem !important;
}

.split-half {
    display: flex;
    flex-direction: column;
}

.split-half > section {
    flex: 1 1;
}

@media screen and (min-width: 768px) {
    .split-half {
        flex-direction: row;
    }
    .split-half > section {
        padding: 15px;
    }
}