@{
    ViewData["Title"] = "Events";
}

<!-- Featured -->
<section class="post">
    <header class="major">
        <h1>Events</h1>
    </header>
</section>


<!-- Post -->
<article class="post featured">
    <div class="responsive-iframe-container">
        <iframe style="border-width: 0;" src="./calendar.php" frameborder="0" scrolling="no"></iframe>
    </div>
</article>