@{
    ViewData["Title"] = "Home";
}

@section Intro {
    <div id="intro">
        <h1>Girl Up<br>LAHS</h1>
        <p>Promoting Women's Rights at Los Altos High School</p>
        <ul class="actions">
            <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
