@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<p>
    Manual user registrations are disabled. Are you a member of the club? Contact an officer to get an account.
</p>